@font-face {
    font-family: spartan-regular;
    src: url('design/fonts/Spartan-Regular.ttf');
}

@font-face {
    font-family: spartan-medium;
    src: url('design/fonts/Spartan-Medium.ttf');
}

@font-face {
    font-family: spartan-semibold;
    src: url('design/fonts/Spartan-SemiBold.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: spartan-regular;
}

//HEADER//

nav {
    display: none;
    position: absolute;
    top: 2.5em;
    left: 20%;
}
ul {
    display: flex;
    gap: 2em;
    list-style-type: none;
}
li > a {
    text-decoration: none;
    text-transform: lowercase;
    color: white;
    font-size: 0.8em;
    font-family: spartan-medium;
     &::before {
        content: '....';
        width: 0.8em;
        padding-bottom: 0.8em;
        color: transparent;
        border-bottom: solid rgba(255, 255, 255, 0) 3px;
        position: relative;
        left: 50%;
        }
     &:hover::before {
        border-bottom: solid white 3px;
        }
}


.ham,
.logo {
    z-index: 99;
    position: absolute;
    top: 2.5em;
    left: 1.5em;
}
.logo {
    top: 2.7em;
    left: 42%;
}

//SECTION.TOP//

.hero {
    display: block;
    height: 22.5em;
    background-image: url('images/mobile-image-hero-1.jpg');
    background-repeat: no-repeat;
}
h1 {
    font-size: 1.8em;
    font-family: spartan-medium;
    margin: 0 0 0.9em 0;
}
.description {
font-size: 0.8em;
color: rgb(126, 126, 126);
line-height: 1.6em;
max-width: 40em;
}
.btn-group {
    z-index: 99;
    display: inline-block;
    position: absolute;
    display: flex;
    right: 0;
    top: 19em;
    height: 3.5em;
    width: 7em;
    background: black;
}
button.slide {
    height: 100%;
    width: 50%;
    border: none;
    background: black;
    transition: 0.2s;
    &:hover {
        background: rgb(73, 73, 73);
        cursor: pointer;
    }
}

.info {
    padding: 4.5em 10% 3.5em 10%;
}
button.shop {
 position: relative;
 font-size: 0.8em;
 letter-spacing: 0.8em;
 text-transform: uppercase;
 padding: 1.2em 1em 1.2em 0;
 margin: 1.5em 0 0em 0;
 border: none;
 background: none;
 transition: 0.3s;
 &:hover {
     color:rgb(126, 126, 126);
     stroke: rgb(156, 156, 156);
     cursor: pointer;
 }
}

.arrow {
    padding: 0 1.2em;
}

//FOOTER// 

picture.about {
    display: block;
    height: 16.6em;
}
.dark {
background-image: url('images/image-about-dark.jpg');
background-repeat: no-repeat;
background-color:rgb(206, 206, 206);
//background-size: cover;
}
.light {
background-image: url('images/image-about-light.jpg');
background-repeat: no-repeat;
background-position: right;
background-color:rgb(140, 140, 140);
//background-size: cover; 
}

article.about {
    padding: 4.5em 10% 3.5em 10%;
}

h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: spartan-semibold;
    letter-spacing: 0.4em;
    padding: 0 0 0.8em 0;
}

.attribution { font-size: 11px; text-align: center; position: relative; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 376px){

    //SECTION.TOP//
    .hero {
        background-image: url('images/desktop-image-hero-1.jpg');
        background-size: cover;
    }
}

@media (min-width: 666px){

    //HEADER//

    nav {
        display: inline-block;
    }
    .ham {
        display: none;
    }
    .logo {
        left: 5%;
    }

    //SECTION.TOP//

    .btn-group {
        width: 9.1em;
        height: 4.55em;
        top: 17.97em
    }
}

@media (min-width: 720px) {

    //FOOTER//
   article.about {
     padding-left: 25%;
   }
  .dark { 
      background-position-x: 15%;
       }
  .light {
      background-position-x: 80%;
      }
  .about > p , h3 {
    display: inline-block;
      //margin-right: 0;
      width: fit-content;
  }

}

@media (min-width: 850px) {

    //SECTION.TOP//

    .hero {
        background-position-y: 30%;
    }
}

@media (min-width: 950px) {

    //SECTION.TOP//

     .btn-group {
        top: 22.5em
    }
    
}

@media (min-width: 1024px) {
    //HEADER//
    header {
        position: relative;
        top: 1em;
    }
    nav {
        left: 12%;
    }
   
    //SECTION.TOP//
    .top {
        display: flex;
    }
    .hero {
        width: 100%;
        height: 32em;
        right: 40%;
        background-position-y: 30%;
    }
    .info {
        padding-left: 5em;
        padding-top: 6em;
    }
    button.shop {
        margin-top: 0;
        top: -4em;
    }
    .btn-group {
        position:relative;
        left: -5em;
        top: 6.9em;
        width: 8.17em;
    }

        //FOOTER//
   footer {
       display: flex;
   }
   article.about {
     padding: 4% 2% 2% 3%;
   }
  .dark { 
      background-position-x: 0;
      width: 32.7em;
      background-color: white;
      z-index: 50;
       }
  .light {
      background-position-x: 0;
      background-position: right;
      background-color: white;
      width: 43%;
      z-index: 50;
  }

}

@media (min-width: 1250px) {
     .btn-group {
        top: 8.15em;
    }
}

@media (min-width: 1441px) {
     .hero {
         max-width: 868.02px;
     }
     .btn-group {
         width: 9.2em;
     }
     article.about {
     padding: 4% 3% 2% 5%;
     max-width: 627.52px;
   }
   .dark { 
      width: 34.7em;
      
       }
    
}

@media (min-width: 1487px) {
  .btn-group {
         width: 9.2em;
         top: 42%;
     }

}

@media (min-width: 1585px) {
  .btn-group {
         width: 9.2em;
         top: 47.5%;
     }

}